/* Content Wrapper Styles */
/* Set width & max-width for content */

body {
  width: 100%;
  font-family: "Quicksand", sans-serif;
}

.content-wrapper {
  margin: auto;
  position: absolute;
  min-width: 90vw;
  min-width: 40rem;
  max-width: 100rem;
  
}

/* Header Styles */

header {
  width: 90%;
  height: 25vh;
  background-color: hsl(183, 100%, 67%);
  border-bottom: .5rem solid hsl(182, 100%, 46%);
  position: fixed;
  padding: 0 5%;
}

h1 {
  font-family: "Stint Ultra Expanded", sans-serif;
  font-size: 2.5rem;
  margin: auto;
}

.portrait {
  display: block;
  width: 3rem;
  width: 15vw;
  max-width: 10rem;
  border: .5rem solid hsl(182, 100%, 46%);
  border-radius: 10rem;
  margin: 2vh auto;

}

/* Main Content Styles */

.main-section {
  margin-top: 27vh;
  margin-left: 5vw;
  width: 90vw;
}

h3 {
  font-family: "Stint Ultra Expanded", sans-serif;
  font-size: 1.25rem;
}

article img {
  float: left;
  padding: 1rem;
}

article p {
  display: block;
  padding: 1rem;

}

hr {
  clear: left;
  border: none;
}


/* Aside Styles */

aside {
  float: right;
  background-color: hsl(183, 100%, 67%);
  padding: 1rem;
  margin: 1rem;
  border: 1px solid hsl(182, 100%, 46%);
}

/* Footer Styles */